* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root {
    font-size: 16px;
    --fontFamily: "Macondo", cursive;
    --highlightColor: rgb(50, 157, 199);
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--fontFamily)
}

aside {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    height: 100vh;
    background-image: url("Images/t3-wallpaper.jpg");
    background-size: cover;
    background-position: 20%;
    position: relative;
}

aside div#header {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

aside div#header img {
    display: block;
    max-width: 100%; 
    max-height: 100%; 
}

aside p {
    width: 100%;
    position: absolute;
    bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff
}

aside p a {
    color: inherit
}

main {
    --paddingLeft: 75px;
    --paddingY: 25px;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    height: 100vh;
    background-color: #000;
    color: #ddd;
    overflow-y: scroll
}

main div#disclaimer {
    width: 100%;
    min-height: calc(15% + 150px);
    padding: var(--paddingY) var(--paddingLeft);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end
}

main div#disclaimer i {
    text-decoration: underline
}

main div#disclaimer h2:nth-of-type(2) {
    margin-top: 25px
}

main form div#form {
    width: 100%;
    background-color: #080808;
    padding: var(--paddingY) var(--paddingLeft);
    font-size: .8rem;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 2px 4px #161616;
    box-shadow: 0 2px 4px #161616
}

main form div#form h2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

main form div#form label {
    margin: 10px 0;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    text-transform: uppercase;
    color: #888
}

main form div#form label input {
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid #222;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 5px;
    background-color: #000;
    color: #ddd
}

main form div#form label input:focus {
    outline: 2px solid var(--highlightColor)
}

main form div#form label input:invalid {
    border-color: red
}

main form button {
    width: 250px;
    height: 50px;
    margin: 35px 0 15px var(--paddingLeft);
    border: 3px solid var(--highlightColor);
    border-radius: 10px;
    font-family: var(--fontFamily);
    font-size: 1.25rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    color: var(--highlightColor);
    cursor: pointer;
    -webkit-transition: .1s;
    transition: .1s
}

main form button:hover {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg)
}

main form p {
    padding: 0 0 var(--paddingY) var(--paddingLeft)
}

main form p a {
    color: var(--highlightColor);
    font-weight: bold
}
main form #sign {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 0 var(--paddingY) var(--paddingLeft)

}

@media screen and (max-width: 400px)and (orientation: portrait) {
    body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    aside {
        width: 100vw;
        -ms-flex-preferred-size: 100vh;
        flex-basis: 100vh
    }

    main {
        --paddingLeft: 50px;
        overflow-y: visible
    }

    main div#disclaimer {
        font-size: .9rem
    }

    main form div#form label {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    main form button {
        width: calc(100% - 100px)
    }
}
