body {
    background-color: #a90000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.flexbox-container {
    display: flex;
    width: 80%; 
    background-color: #0549a5;
    border-radius: 1rem;
    }

.left-half {
    flex: 1;
    text-align: center;
    margin: 20px;
    align-items: center;
    background-color: #dfd500;
    border-radius: 1rem;

}

.right-half {
    flex: 1; 
    padding: 20px; 
    text-align: center; 
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image-container img {
    max-width: 100%; 
}

p {
    text-align: center;
    padding: 5px;
}

button {
    background-color: 	#00b9ff;
    border: none;
    text-align: center;
    padding: 20px 40px;
    font-size: 15px;
    border-radius: 1rem;
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
    transition: transform 0.3s; 
    margin: 5px;

}

button:hover {
    transform: scale(1.05); 
}